<footer>
    <!-- Copyright -->
    <div class="footer fixed-bottom" style="background-color: rgba(0, 0, 0, 0.2); text-align: center" >
        © 2022 Copyright:
        <a class="text-dark" href>Gruppe6.dk</a>
    </div>
    <!-- Copyright -->
</footer>

@code {
    bool showFooter = false;
}