<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        @*<a class="navbar-brand" href=""><img src="img/reddit-logo.png" width="40"/><span style="vertical-align: middle"> Freddit</span></a>*@
        <button class="navbar-toggler" @onclick="@(() => showNavbar = !showNavbar)">
            <RadzenIcon Icon="menu" />
        </button>
        <div class="collapse navbar-collapse @((showNavbar)? "show" : "")" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
                        Home
                    </NavLink>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="OrdreID">
                            <span class="oi oi-plus" aria-hidden="true"></span> OrderID
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="ReturVare">
                            <span class="oi oi-plus" aria-hidden="true"></span> Retur Vare
                        </NavLink>
                    </div>
                    
                    
                </li>
@*                <li class="nav-item">
                    <NavLink href="fetchdata" class="nav-link">
                        Fetch
                    </NavLink>
                </li>*@
            </ul>
            <PingComponent />
            <Login.LoginButtons />
        </div>
    </div>
</nav>

@code {
    bool showNavbar = false;
}
