@using System.Text.Json
@using HttpClients.ClientInterfaces
@using Radzen
@inject IPingService pingService

<p style="margin: 0 1em 0 0" class="text-white">@ping ms 
    <RadzenButton
        Style="transform: scale(0.8)"
        ButtonStyle="ButtonStyle.Success"
        Size="ButtonSize.ExtraSmall"
        class="rz-border-radius-10 rz-shadow-4"
        Click="checkPing"/>
</p>

@code {
    private long fromTime = 0;
    private long serverTime = 0;
    private long ping = 0;

    private async void checkPing()
    {
        long[]? dateTimes = await pingService.PingAsync();

        if (dateTimes != null && dateTimes.Length > 0)
        {
            fromTime = dateTimes[0];
            serverTime = dateTimes[1];
            ping = DateTimeOffset.Now.ToUnixTimeMilliseconds() - fromTime;
        }
    }
}
