@using System.Text.Json
@using HttpClients.ClientInterfaces
@inject IPingService pingService

<p style="margin: 0">@ping ms <button type="button" class="btn btn-success" style="width: 15px; height: 15px; padding: 3px 0px; border-radius: 8px;" @onclick="checkPing"></button></p>

@code {
    private long fromTime = 0;
    private long serverTime = 0;
    private long ping = 0;

    private async void checkPing()
    {
        long[]? dateTimes = await pingService.PingAsync();

        if (dateTimes != null && dateTimes.Length > 0)
        {
            fromTime = dateTimes[0];
            serverTime = dateTimes[1];
            ping = DateTimeOffset.Now.ToUnixTimeMilliseconds() - fromTime;
        }
    }
}
