/.vs

# C# Ignores:
/SEP3CSharp/BlazorClient/obj
/SEP3CSharp/BlazorClient/bin
/SEP3CSharp/.vs
/SEP3CSharp/.idea
/SEP3CSharp/RestAPI/obj
/SEP3CSharp/RestAPI/bin
/SEP3CSharp/gRPC/obj
/SEP3CSharp/gRPC/bin
/SEP3CSharp/Shared/bin
/SEP3CSharp/Shared/obj
/SEP3CSharp/Application/bin
/SEP3CSharp/Application/obj
/SEP3CSharp/HttpClient/bin
/SEP3CSharp/HttpClient/obj


# Java ignores:
/SEP3Java/out
/SEP3Java/.idea/runConfigurations.xml
/SEP3Java/.idea/libraries
/SEP3Java/.idea/workspace.xml
/SEP3Java/.idea/usage.statistics.xml
/SEP3Java/.idea/shelf
/SEP3Java/.idea/modules.xml
/SEP3Java/target