################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEP3CSharp/BlazorClient/obj
/SEP3CSharp/BlazorClient/bin
/SEP3CSharp/.vs/SEP3CSharp/v17
