@page "/AddProductToWarehouse"
<h3>AddProductToWarehouse</h3>
@using Radzen
@using HttpClients.ClientIntefaces
@using global::Shared.Dtos
@using global::Shared.Models
@inject NavigationManager navMgr
@inject IProductService productService



 <div class="container-fluid">
     <div class="row">
         <div class="col-xl-6 mb-4">
             <RadzenCard>
                 <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3">1. Customers</RadzenText>
                 <RadzenDropDown Style="width:300px" TValue="string" @bind-Value="WareHouses.wAdress" Placeholder="Select Adres" AllowFiltering="true" Data="@(WareHouses.wAdress)" TextProperty="CompanyName" ValueProperty="CustomerID"/>
             </RadzenCard>
         </div>
     </div>
     
      <div class="container" Data =@(WareHouses.wAdress)>
          
             <div>
                 <RadzenDataGrid TItem="WareHouses">
                     <Columns>
                         <RadzenDataGridColumn TItem="WareHouses" Property="ProductId" Title="ProductId" Width="150px" TextAlign="TextAlign.Center"/>
                         <RadzenDataGridColumn TItem="WareHouses" Property="Name" Title="Name" Width="150px" Sortable="false">
                             <Template Context="data"> </Template>
                         </RadzenDataGridColumn>
                         <RadzenDataGridColumn TItem="WareHouses" Property="Description" Title="Description" Width="500px" TextAlign="TextAlign.Center"/>
                         <RadzenDataGridColumn TItem="WareHouses" Property="Price" Title="Price" Width="100px" TextAlign="TextAlign.Center"/>
                         <RadzenDataGridColumn TItem="WareHouses" Property="Add" Title="Add" Width="200px" TextAlign="TextAlign.Center"/>
                         <Template Context="data">
                             <RadzenCheckBox TValue="bool" />
                         </Template>
                         
                     </Columns>
                 </RadzenDataGrid>
             </div>
         </div>
 </div>
@code 
{
    
    public class WareHouses
    {
        public String wID;
        public static String wAdress;
        RadzenDataGrid<WareHouses> ordersGrid;
        IList<WareHouses> orders;


        public WareHouses()
        {
        }
    }
    
    
   
}