@page "/AddToStock"
@using Radzen
<h3>AddToStock</h3>
<div class="container p-4">
    <div class="row">
        <div class="col-3">
            <h6 class="text-uppercase">ID</h6>
        </div>
        <div class="col-3">
            <h6 class="text-uppercase">CreateOrder</h6>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
        
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Product number</RadzenText>
            <RadzenTextBox Placeholder="Search..." Change=@(args => OnChange(args, "TextBox with placeholder")) Class="w-100"/>
        </div>
        <div class="col-3">

            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Amount to add</RadzenText>
            <RadzenNumeric ShowUpDown="false" TValue="int" Change=@(args => OnChange(args, "Numeric")) Class="w-100"/>
        </div>
       

    </div>
    <div class=container-fluid style="margin-top: 20px; margin-left: 0px; padding-left: 0px">
        <div class="col-3" style="justify-content: center">
            <RadzenButton Shade="Shade.Darker" Text="Godkend" ButtonStyle="ButtonStyle.Success"/>

        </div>
    </div>
</div>


@code {

    // btn logic 

    bool busy;

    void OnClick(string buttonName)
    {
    }


    async Task OnBusyClick()
    {
        busy = true;
        await Task.Delay(2000);
        busy = false;
    }


    private void OnChange(string args, string textboxWithPlaceholder)
    {
        throw new NotImplementedException();
    }

    private int value;

    private void OnChange(int args, string textboxWithPlaceholder)
    {
        throw new NotImplementedException();
    }

    public class Item
    {
        string itemNumber;

        public Item(string itemNumber)
        {
            this.itemNumber = itemNumber;
        }
    }



}