@page "/AdminGui"


@inject NavigationManager navigationManager
<AuthorizeView>

    <NotAuthorized>
       <div class="container p-4">
           <div class="row">
               <div class="col-3">
                   <label style="color: Black">
                       ID @currentUser
                   </label>
               </div>
               <div class="col-3">
                   <h6 class="text-uppercase">Admin</h6>
               </div>
           </div>
       </div>
            <div class="d-flex justify-content-center mt-5">
                <button type="button" class="btn btn-primary button mx-3" @*@onclick=LagerStatus*@>Se/Ændre lager status</button>
                <button type="button" class="btn btn-primary button mx-3" @*@onclick=OverskrivPosition*@>Overskriv posotion</button>

            </div>
    </NotAuthorized>
    @code {
    
    }</AuthorizeView>
 
@code {
    //Label
    String currentUser ="420" ;
}