@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-3">
            <RadzenCard>
                <RadzenText Text="Test" TextStyle="TextStyle.H4" />
                <RadzenText Text="bodytext" TextStyle="TextStyle.Body2" />
            </RadzenCard>
        </div>
        <div class="col-3">
            <RadzenCard>
                <RadzenText Text="Test" TextStyle="TextStyle.H4" />
                <RadzenText Text="bodytext" TextStyle="TextStyle.Body2" />
                <RadzenButton Text="Submit" Variant="Radzen.Variant.Outlined" />
            </RadzenCard>
        </div>
        <div class="col-3">
            <RadzenCard>
                <RadzenText Text="Test" TextStyle="TextStyle.H4" />
                <RadzenText Text="bodytext" TextStyle="TextStyle.Body2" />
            </RadzenCard>
        </div>
    </div>
</div>

@code {

}