@page "/OrdreID"
@using Radzen

<RadzenText TextStyle="TextStyle.H5" TagName="TagName.H1" Class="my-4">
    <label>
        Order ID @CurrentOrderID
    </label>
</RadzenText>


<div>
    <div class="container-lg" >
    <div>

        <div class="container p-4">
            <div class="row">
                <div class="col-3">
                    <h6 class="text-uppercase" align="center">ID navn</h6>
                </div>
                <div class="col-3">
                    <h6 class="text-uppercase" align="center">Ordre ID</h6>
                </div>

            </div>
        </div>
    </div>

        <div>
            <RadzenDataGrid TItem="Order" Data="@data">
                <Columns>
                    <RadzenDataGridColumn TItem="Order" Property="vareNr" Title="vare Nr" Width="100px" TextAlign="TextAlign.Center"/>
                    <RadzenDataGridColumn TItem="Order" Property="TjekBoks" Title="" Sortable="false" Width="50px" TextAlign="TextAlign.Center">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Order" Property="VareBeskrivelse" Title="Vare Beskrivelse" Width="800px" TextAlign="TextAlign.Center"/>
                    <RadzenDataGridColumn TItem="Order" Property="Position" Title="Position" Width="150px"/>
                </Columns>

            </RadzenDataGrid>
        </div>
    </div>
    </div>


@code 
{
    String CurrentOrderID = "420";
    
    List<Order> data = new List<Order>();

    class Order
    {
        
    }
}