@page "/OrdreID"
@using Radzen

<RadzenText TextStyle="TextStyle.H5" TagName="TagName.H1" Class="my-4">
</RadzenText>


<div>
    <div class="container-lg" >
    <div>

        <div class="container p-4">
            <div class="row">
                <div class="col-3">
                    <h6 class="text-uppercase" align="center">Ordre ID</h6>
                </div>

            </div>
        </div>
    </div>

        <div>
            <RadzenDataGrid TItem="Order" Data="@orders">
                <Columns>
                    <RadzenDataGridColumn TItem="Order" Property="ItemNr" Title="Item Nr" Width="100px" TextAlign="TextAlign.Center"/>
                    <RadzenDataGridColumn TItem="Order" Property="ItemDescription" Title ="Item description" Width="600px" TextAlign="TextAlign.Center"/>
                    <RadzenDataGridColumn TItem="Order" Property="Position" Title="Position" Width="150px"/>
                   <RadzenDataGridColumn TItem="Order" Property="CheckBox" Title="Is packed" Sortable="false" Width="80px" TextAlign="TextAlign.Center">
                                       
                       <Template Context="orders">
                           <RadzenCheckBox TValue="bool" Change=@(args => { if(!allowRowSelectOnRowClick) { grid.SelectRow(orders); }}) />
                           <RadzenDataGrid @ref="grid" AllowRowSelectOnRowClick="@allowRowSelectOnRowClick" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                               AllowSorting="true" Data="@this.orders" TItem="Order" ColumnWidth="50px"
                               SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@selectedProducts /> 
                       </Template>
               
                       </RadzenDataGridColumn>
                                   
                
                
                
                    </Columns>

            </RadzenDataGrid>
        </div>
    </div>
    </div>


@code 
{
    bool allowRowSelectOnRowClick = true;
    IEnumerable<Order> products;
    IList<Order> selectedProducts;
    RadzenDataGrid<Order> grid;
    
    
    
    public class Order {
        public int ItemNr { get; set; }
        public String ItemDescription { get; set; }
        public string Position { get; set; }
        public bool CheckBox { get; set; }


    }

    private List<Order> orders = new List<Order>() 
    {
        new Order {CheckBox = true, ItemDescription = "10:10:10", Position = "A32", ItemNr = 1},
        new Order {ItemDescription = "10:10:10", Position = "B43", ItemNr= 2},
        new Order {ItemDescription = "10:10:10", Position = "C67", ItemNr = 3},
        new Order {ItemDescription = "10:10:10", Position = "D82", ItemNr= 4},
        new Order {ItemDescription = "10:10:10", Position = "E70", ItemNr = 5}
    };
    
}