@page "/ReturnOfOrder"
@using Radzen
@using global::Shared.Models


<div class="container p-4">
    <div class="row">
        <div class="col-3">
            <h6 class="text-uppercase">ID</h6>
        </div>
        <div class="col-3">
            <h6 class="text-uppercase">Returvare</h6>
        </div>
    </div>
</div>


<RadzenDataGrid TItem="Order" Data="@data">
    <Columns>
        <RadzenDataGridColumn TItem="Order" Property="OrderID" Title="Vare Nummer"/>
        <RadzenDataGridColumn TItem="Order" Property="OrderdItems" Title="Bestiltevare"/>
        <RadzenDataGridColumn TItem="Order" Property="ReturnedItems" Title="Returnerede vare"/>
        <RadzenDataGridColumn TItem="Order" Property="Condition" Title="Stand"/>
        <RadzenDataGridColumn TItem="Order" Property="ItmePosition" Title="Vare position"/>

    </Columns>
</RadzenDataGrid>

<!-- Grid container -->
<div class="container p-4">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-3">
            <h6 class="text-uppercase">bestilte vare</h6>
            <RadzenDataGridColumn Width="50px" TItem="Order" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                <Template>
                    @(orders.IndexOf(context) + 1)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Width="200px" TItem="Order" Property="OrderID" Title="Order ID">
                <FooterTemplate>
                    Displayed orders: <b>@ordersGrid.View.Count()</b> of <b>@orders.Count()</b>
                </FooterTemplate>
            </RadzenDataGridColumn>

        </div>
        <!--Grid column-->
        
        <!--Grid column-->
        <div class="col-3">
            <h6 class="text-uppercase">Returvare</h6>

            <p>
                55555
            </p>
        </div>

        <div class="col-3">
            <h6 class="text-uppercase">cansel</h6>

            <p>
                NOPE
            </p>
        </div>

        <div class="col-3">
            <h6 class="text-uppercase">save</h6>

            <p>
                goood job
            </p>
        </div>


        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>
<!-- Grid container -->


@code {
    string emptyText = "No Items to display!";


    List<Order> data = new List<Order>();

    RadzenDataGrid<Order> ordersGrid;
    IList<Order> orders;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public class Order
    {
        public string OrderID;
        public string OrderdItems;
        public string ReturnedItems;
        public string Condition;
        public string ItmePosition;

        public Order(string orderId, string orderdItems, string returnedItems, string condition, string itmePosition)
        {
            OrderID = orderId;
            OrderdItems = orderdItems;
            ReturnedItems = returnedItems;
            Condition = condition;
            ItmePosition = itmePosition;
        }

        List<Order> orders;

        Order order = new Order("25565", "5", "5", "good", "B52-D7");

        public List<Order> Orders
        {
            get => orders;
            set => orders = value ?? throw new ArgumentNullException(nameof(value));
        }
    }

}