@page "/TemplateDropDown"
<h3>TemplateDropDown</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 mb-4">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H3">1. Customers</RadzenText>
                <RadzenDropDown Style="width:300px" TValue="string" @bind-Value="WareHouses.wAdress" Placeholder="Select Adres" 
                                AllowFiltering="true" Data="@(WareHouses.wAdress)" TextProperty="CompanyName" ValueProperty="CustomerID"/>
            </RadzenCard>
        </div>
    </div>
</div>





<div class="row mb-4">
    <div class="col">
        <RadzenButton style="width: 160px" Icon="save" BusyText="Saving ..." IsBusy=@busy Click=@OnBusyClick Text="Save"/>
    </div>
</div>

@code {


    public class WareHouses
    {
        public String wID;
        public static String wAdress;


        public WareHouses()
        {
        }
        
    }
    
    //btn
    
    bool busy;
    async Task OnBusyClick()
    {
        busy = true;
        await Task.Delay(2000);
        busy = false;
    }
}