@using Radzen
@page "/vieworder2"

<PageTitle>Index</PageTitle>

<RadzenText TextStyle="TextStyle.H5" TagName="TagName.H1" Class="my-4">
    Se bestillinger
</RadzenText>

<div>
    <div class="container">
        
        <div class="container p-4">
            <div class="row">
                <div class="col-3">
                    <h6 class="text-uppercase" align="center">Se Bestilling</h6>
                </div>

            </div>
        </div>


        <div>
            <RadzenDataGrid TItem="Order" Data="@data">
                <Columns>
                    <RadzenDataGridColumn TItem="Order" Property="OrderID" Title="OrderID" Width="50px" TextAlign="TextAlign.Center"/>
                    <RadzenDataGridColumn TItem="Order" Property="Varenrenheder" Title="Vare nr enheder" Width="100px" Sortable="false">
                        <Template Context="data"> </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Order" Property="Bestillingstidspunkt" Title="Bestillingstidspunkt" Width="550px" TextAlign="TextAlign.Center"/>
                    <RadzenDataGridColumn TItem="Order" Property="Pålager" Title="Pålager" Width="200px" TextAlign="TextAlign.Center"/>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
    
</div>



@code 
{ 
    string emptyText = "No Items to display!";
    List<Order> data = new List<Order>();

    class Order
    {
        public int OrderID;
        public int Varenrenheder;
        public String Bestillingstidspunkt;
        public bool Pålager;

        public Order(int orderId, int varenrenheder, string bestillingstidspunkt, bool pålager)
        {
            OrderID = orderId = 2;
            Varenrenheder = varenrenheder = 3;
            Bestillingstidspunkt = bestillingstidspunkt = "43";
            Pålager = pålager = true;
        }
    }
}